/Projects/RobotsAttack_WINDOWS/RobotsAttack_WINDOWS/Content/obj
/Projects/RobotsAttack_WINDOWS/RobotsAttack_WINDOWS/Content/bin
/Projects/RobotsAttack_WINDOWS/RobotsAttack_WINDOWS/bin
/Projects/RobotsAttack_WINDOWS/RobotsAttack_WINDOWS.v11.suo
/Projects/RobotsAttack_WINDOWS/.vs
/Projects/RobotsAttack_WINDOWS/RobotsAttack_WINDOWS/obj
